<div class="container">
    <form #loginForm="ngForm" (ngSubmit)="doLogIn()">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" [(ngModel)]="model.username" id="username" name="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" [(ngModel)]="model.password" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
